.gauge {
  @apply relative;
  border-radius: 50%/100% 100% 0 0;
  @apply bg-gradient-to-r from-stone-400 to-lime-500;
  @apply overflow-hidden;
}
.gauge:before {
  content: "";
  @apply block;
  @apply pt-[50%] /* ratio of 2:1*/;
}
.gauge .chart {
  @apply overflow-hidden;
}
.gauge .mask {
  @apply absolute;
  @apply left-[25%];
  @apply right-[25%];
  @apply top-[50%];
  @apply bottom-0;
  @apply bg-white;
  border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage {
  @apply absolute;
  @apply top-[-1px];
  @apply left-[-1px];
  @apply right-[-1px];
  @apply bottom-0;
  @apply bg-stone-200;
  transform: rotate(var(--rotation));
  transform-origin: bottom center;
  transition-duration: 600;
}
.gauge:hover {
  --rotation: 100deg;
}
.gauge .value {
  @apply absolute;
  @apply bottom-[0%];
  @apply left-0;
  @apply w-full;
  @apply text-center;
}

.gauge .min {
  @apply absolute;
  @apply bottom-0;
  @apply left-[5%];
}
.gauge .max {
  @apply absolute;
  @apply bottom-0;
  @apply right-[5%];
}
